@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #111010;
  /* This is that deep dark gray color */
  color: #e5e5e5;
  /* Soft white text */
}

/* This makes the scrollbar look nice and dark too */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111010;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}